<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>

				<typeAlias type="kokofarm.product.domain.ProductDTO" alias="Product"/>

		<typeAlias type="kokofarm.product.domain.ProductDTO" alias="Product"/>

		<typeAlias type="kokofarm.product.domain.ProductSearch" alias="Search"/>
  		<typeAlias type="kokofarm.product.domain.PostDTO" alias="Post"/> 

		
		<!-- 동훈 담당 -->
			<typeAlias type="kokofarm.member.domain.MemberDTO" alias="Member"/>
			<typeAlias type="kokofarm.member.domain.MemberSearch" alias="MemberSearch"/>
		
		 <!--  동훈이꺼 -->


		
		<!-- 동훈 담당 -->
			<typeAlias type="kokofarm.member.domain.MemberDTO" alias="Member"/>
			<typeAlias type="kokofarm.member.domain.MemberSearch" alias="MemberSearch"/>
		
		 <!--  동훈이꺼 -->
		 
		
		<!-- =========== 정환이 담당 =============-->
		<!-- =========== 주문 =============-->
		<typeAlias type="kokofarm.orderproduct.domain.OrderProductListDTO" alias="OrderProductListDTO"/>
		<typeAlias type="kokofarm.orderproduct.domain.OrderProductDTO" alias="OrderProductDTO"/>
		<!-- =========== 장바구니 =============-->
		<typeAlias type="kokofarm.cart.domain.ProductDTO" alias="ProductDTO"/>
		<typeAlias type="kokofarm.cart.domain.CartDTO" alias="CartDTO"/>

		<typeAlias type="kokofarm.cart.domain.CartListDTO" alias="CartListDTO"/>


	</typeAliases>
	
	
	
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle"/>
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<mapper resource="kokofarm/product/xml/Product.xml"/>
		<mapper resource="kokofarm/member/mapper/Member.xml"/>
		
	<!-- =========== 정환이 담당 =============-->
		<!-- =========== 주문 =============-->
			<mapper resource="kokofarm/orderproduct/xml/OrderProduct.xml"/>
		<!-- =========== 장바구니 =============-->
			<mapper resource="kokofarm/cart/xml/Cart.xml"/>
	</mappers>
	
</configuration>
