<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="kokofarm.product.domain.ProductDTO" alias="Product"/>
		<typeAlias type="kokofarm.member.domain.MemberDTO" alias="Member"/>
		<typeAlias type="kokofarm.product.domain.ProductSearch" alias="Search"/>
  		<typeAlias type="kokofarm.product.domain.PostDTO" alias="Post"/> 
	</typeAliases>
	
	
	
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle"/>
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<mapper resource="kokofarm/product/xml/Product.xml"/>
		<mapper resource="kokofarm/member/mapper/Member.xml"/>
		
	</mappers>
	
</configuration>
