@CHARSET "EUC-KR";

body{
	
/* text-align: center;	 */
}


h3{
	margin-left: 20%;
}

#ask{
	margin-left: 20%;
}

#pagging{
	margin-left: 40%;
}

#listmenu{
	margin-left: 40%;
}

#selectmenu{
	margin-left: 40%;
}

#insertmenu{
	margin-left: 40%;
}

#updatemenu{
	margin-left: 40%;
}
 
 
  
#table3{
	width: 60%;
	height: 150px;
 	margin : auto;
}
 

 
#table4 {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: auto;
}
 

table thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #e7708d;
    margin: 20px 10px;
}
table tbody th {
    width: 150px;  
    padding: 10px;
}



table td {
    width: 100px;     350
	text-align : center;
    padding: 10px;
    vertical-align: top;
}

 
 
 .cs_center {
    width: 1230px;
    margin: 0 auto;
}
 
 .cs_center .top_section {
    width: 1230px;
}
 
 .top_section{
     padding-top: 45px;
 }
 
.top_section .cate_title {
    text-align: center;
    position: relative;
    height: 60px;
    margin-bottom: 8px;
    background: url(../images/common/bg_cate_tit.gif) repeat-x left 24px;
}
 
 h2 {
     font: normal 12px/1.2 YG74, Dotum, sans-serif;
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h2 span {
	margin: 0 auto;
	text-align: center;
    display: inline-block;
    line-height: 60px;
    font-family: YG78;
    font-size: 23px;
    color: #352f29;
    padding: 0 18px;
    background: #f3f3f3;
}

.sub_top_section .cate_title {
    text-align: center;
}



 
 